Source: debian-conan
Maintainer: Team Kano <dev@kano.me>
Section: libs
Priority: optional
Standards-Version: 3.9.4
Build-Depends:
    debhelper (>=9.0.0),
    python3,
    python3-pip,
    python3-setuptools,
    dh-python

Package: python3-conan
Architecture: all
Depends:
    ${misc:Depends},
    ${python3:Depends}
Description: Conan C/C++ Package Manager
